{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta content="charset=utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <style>
           * {
           box-sizing: border-box;
           }
           /* Create two equal columns that floats next to each other */
           .column {
           float: left;
           width: 50%;
           padding: 10px;
           height: 30px; /* Should be removed. Only for demonstration */
           }
           /* Clear floats after the columns */
           .row:after {
           content: "";
           display: table;
           clear: both;
           }

           table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            }

        </style>
     </head>
     <body style="font-size:small ;">
         <div style="text-align: center;">
            <p style="font-weight: 600;">മണീട് പഞ്ചായത്ത് ഗ്രാമീണ കോ-ഓപ്പറേറ്റീവ് സൊസൈറ്റി ലിമിറ്റഡ് <br> നമ്പർ ഇ –1358 <br> ഏഴക്കരനാട്‌ പി ഒ , എറണാകുളം  ജില്ല, പിൻ -  682308</p>
         </div>
         <!-- <div>
             <p>&nbsp;</p>
         </div> -->
        <div>
            <table>
                <tr>
                    <td colspan="5">പ്രതിമാസ നിക്ഷേപ പദ്ധതി വായ്പ പണം അനുവദിക്കുന്നതിനുള്ള അപേക്ഷ</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>MDS നമ്പർ</td>
                    <td>{{txtbx1}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>MDS അംഗ നമ്പർ</td>
                    <td>{{txtbx5}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>പേര്</td>
                    <td>MARY K V</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>സംഘത്തിലെ	അംഗ നമ്പർ</td>
                    <td>C 285</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>പിതാവിൻറെ /ഭർത്താവിൻറെ പേര് </td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>സ്ഥിര മേൽവിലാസം</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>തൊഴിൽ</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>വയസ്</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>മൊത്ത സംഖ്യ</td>
                    <td>{{txtbx8}}</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>നറുക്കെടുത്ത തീയതി</td>
                    <td>{{txtbx7}}</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>തവണ</td>
                    <td>{{txtbx6}}</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>കമ്മീഷൻ ഉൾപ്പെടെ കുറഞ്ഞ സംഖ്യ</td>
                    <td>{{txtbx9}}</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>വായ്പ  സംഖ്യ</td>
                    <td>{{txtbx10}}</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>നൽകുന്ന ഈട്</td>
                    <td>PERSONAL GUARANTEE & PROPERTY</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>ആൾ ജാമ്യമെങ്കിൽ ജാമ്യക്കാരുടെ,</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>1.	സംഘത്തിലെ അംഗ നമ്പർ</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പിതാവിൻറെ /ഭർത്താവിൻറെ പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>സ്ഥിരമേൽവിലാസം</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Pin</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>2.	സംഘത്തിലെ അംഗ നമ്പർ</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പിതാവിൻറെ /ഭർത്താവിൻറെ പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>സ്ഥിരമേൽവിലാസം</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Pin</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>3.	സംഘത്തിലെ അംഗ നമ്പർ</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പിതാവിൻറെ /ഭർത്താവിൻറെ പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>സ്ഥിരമേൽവിലാസം</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Pin</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>4.	സംഘത്തിലെ അംഗ നമ്പർ</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>പിതാവിൻറെ /ഭർത്താവിൻറെ പേര്</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>സ്ഥിരമേൽവിലാസം</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Pin</td>
                    <td></td>
                </tr>
            </table>
            <p>ഇതിൽ പറഞ്ഞിരിക്കുന്ന വിവരങ്ങൾ സത്യമാണെന്നും MDS ഉപനിബന്ധനകളും സംഘത്തിൻറെ എല്ലാ നിബന്ധനകളും ഞാൻ/ഞങ്ങൾ അനുസരിച്ചുകൊള്ളാമെന്ന് ഇതിനാൽ പ്രതിജ്ഞ ചെയ്ത് കൊള്ളുന്നു.</p>
            <p>സ്ഥലം: Ezhakkaranad</p>
            <p>തിയതി ………../…………/………………</p>
            <table>
                <tr>
                    <td>1-)o  കക്ഷി  പേര്, ഒപ്പ്</td>
                    <td></td>
                </tr>
                <tr>
                    <td>2-)o  കക്ഷി  പേര്, ഒപ്പ്</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3-)o  കക്ഷി  പേര്, ഒപ്പ്</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4-)o  കക്ഷി  പേര്, ഒപ്പ്</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5-)o  കക്ഷി  പേര്, ഒപ്പ്</td>
                    <td></td>
                </tr>
            </table>
            <p>സെക്രട്ടറിയുടെ അഭിപ്രായം:</p>
            <p>കമ്മിറ്റി തീരുമാനം : </p>
            
            <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;പ്രസിഡൻറ്&emsp;&emsp;&emsp;&emsp;സെക്രട്ടറി</p>
        </div>
     </body>
     <script>
        $(document).ready(function(){
            
        
        
            window.print();
        });
     </script>
</html>