{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'home-style.css' %}">
<script src="{% static 'home-script.js' %}"></script>
</head>
<body>


<div style="width:100;background-color:aliceblue;">
  <div>
    <span><h2>Maneed Cooperative Society</h2></span>
  </div>

 <div align="right">
  <span style="text-align: right;"><h2><a class="btn btn-primary" href="/logout">Logout</a></h2></span>
 </div>

</div>
<!-- <p>Click on the buttons inside the tabbed menu:</p> -->

<div class="tab">
  <button class="tablinks" id="btnUpload" onclick="openCity(event, 'Upload')">Upload Member Data</button>
  <button class="tablinks" onclick="openCity(event, 'LoanDoc')">Loan Document</button>
  <button class="tablinks" onclick="openCity(event, 'ChittyDoc')">Chitty Document</button>
</div>

<div id="Upload" class="tabcontent">
  <h3>Upload Excel File</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="file" id="myFile" name="file"></p>
    <input type="submit">
  </form>
  <br/>
  <span style="color:green ; font-weight: 600;">{{form}}</span>
</div>

<div id="LoanDoc" class="tabcontent">
  <h3>Loan Agreement</h3>
  <p>Click here to download the loan agreement</p> 
  <form action="{% url 'render-loan-agreement' %}" method="post">
    {% csrf_token %}
    <p><input type="text" name="txtVaypa" placeholder="വായ്പ നമ്പർ"></p>
    <p><input type="text" name="txtThuka" placeholder="വായ്പത്തുക"></p>
    <p><input type="text" name="txtJamyam1" placeholder="Jamyam1"></p>
    <p><input type="text" name="txtJamyam2" placeholder="Jamyam2"></p>
    <p><input type="text" name="txtJamyam3" placeholder="Jamyam3"></p>
    <p><input type="text" name="txtKakshi1" placeholder="Kakshi1"></p>
    <p><input type="text" name="txtKakshi2" placeholder="Kakshi2"></p>
    <p><input type="text" name="txtKakshi3" placeholder="Kakshi3"></p>
    <p><input type="text" name="txtKakshi2" placeholder="Kakshi2"></p>
    <p><input type="text" name="txtKakshi3" placeholder="Kakshi3"></p>
    <p><input type="text" name="txtSakshi1" placeholder="Sakshi1"></p>
    <p><input type="text" name="txtSakshi2" placeholder="Sakshi2"></p>
    <p><input type="submit" value="Generate PDF" disabled></p>
  </form>
  
</div>

<div id="ChittyDoc" class="tabcontent">
  <h3>Chitty Document</h3>
  <p>Click here to download the chitty agreement</p>
  <form action="{% url 'render-chitty-agreement' %}" method="post">
    {% csrf_token %}

    <table>
      <tr>
        <td><label>PERSON 1</label></td>
        <td style="width:300px ;"><input type="text" name="person_1" placeholder="Person 1" required></td>
      </tr>
      <tr>
        <td><label>PERSON 2</label></td>
        <td><input type="text" name="person_2" placeholder="Person 2"></td>
      </tr>
      <tr>
        <td><label>PERSON 3</label></td>
        <td><input type="text" name="person_3" placeholder="Person 3"></td>
      </tr>
      <tr>
        <td><label>PERSON 4</label></td>
        <td><input type="text" name="person_4" placeholder="Person 4"></td>
      </tr>
      <tr>
        <td><label>MDS NO.</label></td>
        <td><input type="text" name="mds_no" placeholder="mds_no" required></td>
      </tr>
      <tr>
        <td><label>MONTHLY INSTALMENT AMOUNT</label></td>
        <td><input type="number" name="monthly_instalment_amount" size="30" placeholder="monthly_instalment_amount" required></td>
      </tr>
      <tr>
        <td><label>TOTAL INSTALLMENT</label></td>
        <td><input type="number" name="term" placeholder="term" required></td>
      </tr>
      <tr>
        <td><label>TOTAL AMOUNT</label></td>
        <td><input type="number" name="total_amount" placeholder="total_amount" required></td>
      </tr>
      <tr>
        <td><label>CHITTAL NO</label></td>
        <td><input type="text" name="chittal_no" placeholder="chittal_no" required></td>
      </tr>
      <tr>
        <td><label>AUCTION INSTALMENT.NO</label></td>
        <td><input type="number" name="auction_instalment_no" placeholder="auction_instalment_no" required></td>
      </tr>
      <tr>
        <td><label>AUCTION DATE</label></td>
        <td><input type="text" name="auction_date" placeholder="auction_date" required></td>
      </tr>
      <tr>
        <td><label>LESS CALLED AMOUNT</label></td>
        <td><input type="number" name="less_called_amount" placeholder="less_called_amount" required></td>
      </tr>
      <tr>
        <td><label>SRO</label></td>
        <td><input type="text" name="sro" value="Piravom" placeholder="sro" required></td>
      </tr>
      <tr>
        <td><label>LAND DOCUMENT NO</label></td>
        <td><input type="text" name="land_document_no" placeholder="land_document_no" required></td>
      </tr>
      <tr>
        <td><label>NO OF EXECUTANTS</label></td>
        <td><input type="text" name="no_of_executants" placeholder="no_of_executants" required></td>
      </tr>
      <tr>
        <td><label>DATE OF INSTALMENT</label></td>
        <td><input type="text" name="date_of_instalment" placeholder="date_of_instalment" required></td>
      </tr>
      <tr>
        <td><label>PROPERTY OWNER ( SPECIFY NO)</label></td>
        <td><input type="text" name="property_owner_specify_no" size="30" placeholder="property_owner_specify_no" required></td>
      </tr>
      <tr>
        <td><label>DISTRICT</label></td>
        <td><input type="text" name="district" value="Ernakulam" placeholder="district" required></td>
      </tr>
      <tr>
        <td><label>SUB DISTRICT</label></td>
        <td><input type="text" name="sub_district" value="Piravom" placeholder="sub_district" required></td>
      </tr>
      <tr>
        <td><label>TALUK</label></td>
        <td><input type="text" name="taluk" value="Muvattupuzha" placeholder="taluk" required></td>
      </tr>
      <tr>
        <td><label>VILLAGE</label></td>
        <td><input type="text" name="village" value="Maneed" placeholder="village" required></td>
      </tr>
      <tr>
        <td><label>KARA</label></td>
        <td><input type="text" name="kara" placeholder="kara" required></td>
      </tr>
      <tr>
        <td><label>SY.NO. & SY.SUB DIVISION.NO</label></td>
        <td><input type="text" name="sy_no_and_sy_sub_division_no" size="30" placeholder="sy_no_and_sy_sub_division_no" required></td>
      </tr>
      <tr>
        <td><label>RE.SY.NO.</label></td>
        <td><input type="text" name="re_sy_no" placeholder="re_sy_no"></td>
      </tr>
      <tr>
        <td><label>AREA</label></td>
        <td><input type="text" name="area" placeholder="area" required></td>
      </tr>
    </table>

    <p><input type="submit" value="Generate PDF"></p>
  </form>
</div>

<script>
$(document).ready(function(){
  document.getElementById('btnUpload').click();

});

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  
}
</script>
   
</body>
</html> 
