{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'home-style.css' %}">
<script src="{% static 'home-script.js' %}"></script>
</head>
<body>

<h2>Maneed Cooperative Society  <a class="btn btn-primary" href="/logout">Logout</a></h2>
<!-- <p>Click on the buttons inside the tabbed menu:</p> -->

<div class="tab">
  <button class="tablinks" id="btnUpload" onclick="openCity(event, 'Upload')">Upload Member Data</button>
  <button class="tablinks" onclick="openCity(event, 'LoanDoc')">Loan Document</button>
  <button class="tablinks" onclick="openCity(event, 'ChittyDoc')">Chitty Document</button>
</div>

<div id="Upload" class="tabcontent">
  <h3>Upload Excel File</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="file" id="myFile" name="file"></p>
    <input type="submit">
  </form>
</div>

<div id="LoanDoc" class="tabcontent">
  <h3>Loan Agreement</h3>
  <p>Click here to download the loan agreement</p> 
  <form action="{% url 'render-loan-agreement' %}" method="post">
    {% csrf_token %}
    <p><input type="text" name="txtVaypa" placeholder="വായ്പ നമ്പർ"></p>
    <p><input type="text" name="txtThuka" placeholder="വായ്പത്തുക"></p>
    <p><input type="text" name="txtJamyam1" placeholder="Jamyam1"></p>
    <p><input type="text" name="txtJamyam2" placeholder="Jamyam2"></p>
    <p><input type="text" name="txtJamyam3" placeholder="Jamyam3"></p>
    <p><input type="text" name="txtKakshi1" placeholder="Kakshi1"></p>
    <p><input type="text" name="txtKakshi2" placeholder="Kakshi2"></p>
    <p><input type="text" name="txtKakshi3" placeholder="Kakshi3"></p>
    <p><input type="text" name="txtKakshi2" placeholder="Kakshi2"></p>
    <p><input type="text" name="txtKakshi3" placeholder="Kakshi3"></p>
    <p><input type="text" name="txtSakshi1" placeholder="Sakshi1"></p>
    <p><input type="text" name="txtSakshi2" placeholder="Sakshi2"></p>
    <p><input type="submit" value="Generate PDF"></p>
  </form>
  
</div>

<div id="ChittyDoc" class="tabcontent">
  <h3>Chitty Document</h3>
  <p>Click here to download the chitty agreement</p>
  <form action="{% url 'render-chitty-agreement' %}" method="post">
    {% csrf_token %}

    <p><input type="text" name="person_1" placeholder="Person 1"></p>
    <p><input type="text" name="person_2" placeholder="Person 2"></p>
    <p><input type="text" name="person_3" placeholder="Person 3"></p>
    <p><input type="text" name="person_4" placeholder="Person 4"></p>

    <p><input type="text" name="mds_no" placeholder="mds_no"></p>
    <p><input type="text" name="monthly_instalment_amount" placeholder="monthly_instalment_amount"></p>
    <p><input type="text" name="term" placeholder="term"></p>
    <p><input type="text" name="total_amount" placeholder="total_amount"></p>
    <p><input type="text" name="chittal_no" placeholder="chittal_no"></p>
    <p><input type="text" name="auction_instalment_no" placeholder="auction_instalment_no"></p>
    <p><input type="text" name="auction_date" placeholder="auction_date"></p>
    <p><input type="text" name="less_called_amount" placeholder="less_called_amount"></p>
    <p><input type="text" name="sro" placeholder="sro"></p>
    <p><input type="text" name="land_document_no" placeholder="land_document_no"></p>
    <p><input type="text" name="no_of_executants" placeholder="no_of_executants"></p>
    <p><input type="text" name="date_of_instalment" placeholder="date_of_instalment"></p>
    <p><input type="text" name="property_owner_specify_no" placeholder="property_owner_specify_no"></p>
    <p><input type="text" name="district" placeholder="district"></p>
    <p><input type="text" name="sub_district" placeholder="sub_district"></p>
    <p><input type="text" name="taluk" placeholder="taluk"></p>
    <p><input type="text" name="village" placeholder="village"></p>
    <p><input type="text" name="kara" placeholder="kara"></p>
    <p><input type="text" name="sy_no_and_sy_sub_division_no" placeholder="sy_no_and_sy_sub_division_no"></p>
    <p><input type="text" name="re_sy_no" placeholder="re_sy_no"></p>
    <p><input type="text" name="area" placeholder="area"></p>

    <p><input type="submit" value="Generate PDF"></p>
  </form>
</div>

<script>
$(document).ready(function(){
  document.getElementById('btnUpload').click();
});

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  
}
</script>
   
</body>
</html> 
