{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'home-style.css' %}">
<script src="{% static 'home-script.js' %}"></script>
</head>
<body>

<h2>Maneed Cooperative Society  <a class="btn btn-primary" href="/logout">Logout</a></h2>
<!-- <p>Click on the buttons inside the tabbed menu:</p> -->

<div class="tab">
  <button class="tablinks" id="btnUpload" onclick="openCity(event, 'Upload')">Upload Member Data</button>
  <button class="tablinks" onclick="openCity(event, 'LoanDoc')">Loan Document</button>
  <button class="tablinks" onclick="openCity(event, 'ChittyDoc')">Chitty Document</button>
</div>

<div id="Upload" class="tabcontent">
  <h3>Upload Excel File</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p><input type="file" id="myFile" name="file"></p>
    <input type="submit">
  </form>
</div>

<div id="LoanDoc" class="tabcontent">
  <h3>Loan Agreement</h3>
  <p>Click here to download the loan agreement</p> 
  <form action="{% url 'render-loan-agreement' %}" method="post">
    {% csrf_token %}
    <p><input type="text" name="txtVaypa" placeholder="വായ്പ നമ്പർ"></p>
    <p><input type="text" name="txtThuka" placeholder="വായ്പത്തുക"></p>
    <p><input type="text" name="txtJamyam1" placeholder="Jamyam1"></p>
    <p><input type="text" name="txtJamyam2" placeholder="Jamyam2"></p>
    <p><input type="text" name="txtJamyam3" placeholder="Jamyam3"></p>
    <p><input type="submit" value="Generate PDF"></p>
  </form>
  
</div>

<div id="ChittyDoc" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<script>
$(document).ready(function(){
  document.getElementById('btnUpload').click();
});

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  
}
</script>
   
</body>
</html> 
