{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="charset=utf-8">
    <style>
        * {
          box-sizing: border-box;
        }
        
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 10px;
          height: 30px; /* Should be removed. Only for demonstration */
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        </style>
</head>
<body>
<div style="text-align: center;">
<div>
    <p style="font-weight: 600;">മണീട് പഞ്ചായത്ത് ഗ്രാമീണ സഹകരണ സംഘം ക്ലിപ്‌തം നമ്പർ ഇ –1358<br>വസ്തു ഈട് ജാമ്യക്കടപ്പത്രം</p>
</div>
<div class="row">
    {% if '---' not in vaypanumber %}
    <div class="column">വായ്പ നമ്പർ<u style="text-decoration-style: dotted;">{{vaypanumber}}</u></div>
    {% else %}
    <div class="column">വായ്പ നമ്പർ<u style="text-decoration-style: dotted;">-----------------</u></div>
    {% endif %}
    <div class="column">വായ്പത്തുക{{thuka}}</div>
</div>
<div>
    <p>...............................................................................................................ആണ്ട്............................................................മാസം .....................................)൦ തീയതി  മുവാറ്റുപുഴ താലൂക്ക് മണീട് വില്ലേജ് ഏഴക്കരനാട് കരയിൽ ആഫീസ് സ്ഥാപിച്ചു പ്രവർത്തിച്ചുവരുന്ന ഇ -1358 )൦  നമ്പർ മണീട് പഞ്ചായത്ത് ഗ്രാമീണ സഹകരണ സംഘം ക്ലിപ്‌തത്തിന് വേണ്ടി ടി സംഘത്തിൻറെ ഓണററി സെക്രട്ടറി / സെക്രട്ടറി ........................................... താലൂക്ക് ...................................... വില്ലേജ് ............................................ കരയിൽ .......................................................................................വീട്ടിൽ .......................................മകൻ ................................................................................. പേർക്ക് ,</p>
</div>
<div>
    <p>1 .       ടി സംഘത്തിലെ {{jamyam1}})൦  നമ്പർ അംഗം....................................................................... താലൂക്ക്............................................................................വില്ലേജ്......................................................................................  കരയിൽ .................................................................................വീട്ടിൽ........................................................................മകൻ ....................................വയസ്സ് ...............................................................................................................................,</p>
</div>
<div>
    <p>2 .       ടി സംഘത്തിലെ {{jamyam2}})൦ നമ്പർ അംഗം ................................................................. താലൂക്ക്............................................................................വില്ലേജ്......................................................................................  കരയിൽ .................................................................................വീട്ടിൽ........................................................................മകൻ ....................................വയസ്സ് ...............................................................................................................................,</p>
</div>
<div>
    <p>3            ടി സംഘത്തിലെ {{jamyam3}})൦  നമ്പർ അംഗം ....................................................................... താലൂക്ക്............................................................................വില്ലേജ്......................................................................................  കരയിൽ .................................................................................വീട്ടിൽ........................................................................മകൻ ....................................വയസ്സ് ...............................................................................................................................</p>
</div>
<div style="text-align: left;">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;എന്നിവർ കൂടി ഏകോപിച്ച് എഴുതിക്കൊടുത്ത ജാമ്യക്കടപ്പത്രം :</p>
</div>
<div>
    <p>ഞങ്ങളിൽ ........................... കക്ഷി/കക്ഷികൾ  പേരിൽ ......................................................................താലൂക്കിൽ .............................................................................വില്ലേജിൽ ......................................................സർവ്വേ നമ്പറിൽപ്പെട്ട ...............................ആർ (.........................സെൻറ് ) വസ്തുവകകൾ പിറവം സബ്ബ് രജിസ്ട്രാർ ഓഫീസിലെ ..........................)o ആണ്ട് ...................................... നമ്പറായി  രജിസ്റ്റർ ചെയ്ത ഗഹാൻ മൂലം മണീട് പഞ്ചായത്ത് ഗ്രാമീണ സഹകരണ സംഘം ക്ലിപ്‌തം നമ്പർ ഇ –1358 സംഘത്തിലേയ്ക്ക് ഈടു പണയം തന്നിട്ടുള്ളതിൻ പ്രകാരവും, ടി സംഘത്തിൻറെ ഭരണസമിതി ......................................... തീയതി അനുവദിച്ച കടം വായ്പ പ്രകാരവും, </p>
</div>
</div>
<div style="text-align: center;">
<button onclick="window.print()">Print this page hi</button>
</div>
</body>
</html>